body{
background-image:url("display.jpg");
height: 100%; 
 background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 30px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}
.container{
 width: 1200px;
    height: 2000px;    
   background-color:white;
   margin-left:30px;
   opacity:0.9;
}
.animation1{
	position: relative;
	margin-top:550px;
	animation: mymove 3s;
	animation-fill-mode: forwards;
	font-size:25px;
}
@keyframes mymove {
    from {bottom: -500px;}
    to {bottom: 20px; }
}

.imagebox{
 width: 600px;
    height: 50px;    
    padding: 50px;
 margin-left: 100PX;

}

img
{
	display: block;
    margin-left: auto;
    margin-right: auto;
	
}
@keyframes mymove {
    from {bottom: -500px;}
    to {bottom: 20px; }
}

#box{
	width: 150px;
    height: 30px;   
 border-radius: 10px;	
 border-color:#c5c7cc;

}
img
{
	display: block;
    margin-left: auto;
    margin-right: auto;
}
#box2{
	width: 200px;
    height: 70px;   
 border-radius: 10px;	
 border-color:#c5c7cc;
 font : bold;;
    background-color: #09f4e1;
}
a:link {
    color: BLACK;
	text-decoration: none;

}


a:hover {
    color: BLUE;
}
img.roundimage{
	border-radius:50%;
 border: 2px solid #00fff2;
 animation:bordercolor 10s;
 animation-iteration-count: infinite;
}

@keyframes bordercolor{
	from{border: 2px solid #00fff2;}
	to{ border: 5px solid#00ff8c; transform:rotateY(360deg);}
}


	
