body{
	background-image:url("display.jpg");
	height: 100%; 
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	opacity:0.7;
}

table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
   text-align: center;
}
	
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
	 background-color: white;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

a:link {
    color: BLACK;
	text-decoration: none;

}


a:hover {
    color: BLUE;
}
.container1{
  
    width: 1000px;
	height:800px;
    border: 2px solid green;
	border-radius:20px;
    padding: 25px;
    margin: 25px;
	margin-left:100px;
    margin-top:10px;
	background-color: WHITE;
	opacity:1.0;
}

}

.a{
	 color: blue;
    font-family: courier;
    font-size: 35px;
	 margin-top:-10px;
}
	
text{
	color: blue;
    font-family: courier;
    font-size: 45px;
}

