<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WP</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
 <!-- 
  <servlet>
    <servlet-name>studentlogin.html</servlet-name>
    <servlet-class>LoginOTP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentlogin.html</servlet-name>
    <url-pattern>/LoginOTP</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>employerslogin.html</servlet-name>
    <servlet-class>LoginPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employerslogin.html</servlet-name>
    <url-pattern>/LoginPassword</url-pattern>
  </servlet-mapping>
 
 -->
 
  
</web-app>