body{
background-image:url("display.jpg");
height: 100%; 
 background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 25px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}
.container{
 width: 1200px;
    height: 800px;    
   background-color:white;
   margin-left:30px;
     opacity:0.9;
}
.animation1{
	position: relative;
	animation: mymove 3s;
    animation-fill-mode: forwards;
 
}
@keyframes mymove {
    from {bottom: -500px;}
    to {bottom: 20px; }
}

.messagebox{
 width: 500px;
    height: 350px;    
    padding: 50px;
	
}
img
{
	display: block;
    margin-left: auto;
    margin-right: auto;
	
}


#box{
	width: 150px;
    height: 30px;   
 border-radius: 10px;	
 border-color:#c5c7cc;

}

#box2{
	width: 200px;
    height: 70px;   
 border-radius: 10px;	
 border-color:#c5c7cc;
 font : bold;;
    background-color: #09f4e1;
}
a:link {
    color: BLACK;
	text-decoration: none;

}


a:hover {
    color: BLUE;
}
