body{
background-image:url("display.jpg");
height: 100%; 
 background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 20px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

.container{
 width: 1200px;
    height: 550px;    
   background-color:white;
   margin-left:30px;
}
#box{
	width: 250px;
    height: 50px;   

 border-color:#c5c7cc;

} 
a:link {
    color: #0fdbe2;
text-decoration: none;

	}